{% extends 'layout.html' %}

{% block content %}
    <h1>Ingrese números</h1>
    <form method="POST" action="/calculo">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% for i in range(num) %}
        <label for="input{{ i }}">Ingrese el número {{ i+1 }}:</label>
        <input type="number" id="input{{ i }}" name="input{{ i }}">
        <br>
        {% endfor %}
        <input type="number" id="num" name="num" value="{{ num }}" style="display:none;">
        <input type="submit" value="Enviar">
    </form>
{% endblock %}
